html {
	height:100%;
}

.margintop {
	margin-top:10px;
}

a:hover {
	text-decoration:none;
}

body {
	background-color:#e3f97f;
	height:100%;
	width:100%;
}

#cellboard {
	height:100%;
	margin:auto;
}

.margintop {
	margin-top:10px;
}

.center {
	text-align:center;
}

.flex {
	display:flex;
	justify-content: center;
		text-align:center;

}

.padding {
	padding:5px;
}

.box {
	background-color:#cfa444;
	justify-content: center;
	display:inline-flex;
	flex-direction:column;
	text-align:center;
	margin:auto;
}

.box:hover {
	background-color:#b58d36;
}

.round {
	margin:5px;
	text-align:center;
	border-radius:50%;
	border:2px solid;
	width:45px;
	height:45px;
}

.black {
	background-color:black;
}

.white {
	background-color:white;
}

.border {
	border:2px solid;
}

.greytext {
	background-color:gray;
	width:300px;
	border-radius:10px;
	border:2px solid;
}

.blacktext {
	background-color:black;
	color:white;
	width:300px;
	border-radius:10px;
	border:white 2px solid;
}

.whitetext {
	background-color:white;
	width:300px;
	border-radius:10px;
	border:2px solid;
}

.marcen {
	margin:0 auto;
}

@media screen and (max-width:376px)  {
	
	.round {
		width:30px;
		height:30px;
	}
	
}

@media screen and (max-height:400px)  {
}
